:root{
    --green: #017070;
    --orange: #E0601F;
    --white: #fff;
    --black: #0000;
    --boxitemSkyblueGradient: linear-gradient(58deg, #00cad4, #0c7eb0 95%);
    --boxitemGradient: linear-gradient(58deg, #d0d0d0 44%, #d0d0d0 58%, #d0d0d0 72%, #e4e4e4 87%, #fff)
    --boxitemYellowOrange: linear-gradient(90deg, rgba(255,204,0,1) 32%, rgba(255,159,2,1) 37%);;

}
ul {
    list-style: none;
    padding: 0px;
}

.bg-green{
    background: var(--green);

}
.bg-orange{
    background: var(--orange);
}
.background-white{
    background: var(--white);
}
.txt-white{
    color: var(--white);
}
.f64{
    font-size: 64px;
}
.f60{
    font-size: 60px;
}
.f25{
    font-size: 25px;
}
.f22{
    font-size: 22px;
}
.f20{
    font-size: 20px;
}
/* .f14{
    font-size: 14px;
} */
.container{
    max-width: 1735px;
  }
  section{
    padding: 50px 0px;
  }
  a.order-now {
    padding: 10px 34px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}
a.live-chat {
    padding: 10px 34px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}