:root{
    --green: #017070;
    --orange: #E0601F;
    --white: #fff;
    --black: #0000;
}
ul {
    list-style: none;
    padding: 0px;
}

.bg-green{
    background: var(--green);

}
.bg-orange{
    background: var(--orange);
}
.background-white{
    background: var(--white);
}
.txt-white{
    color: var(--white);
}
.f64{
    font-size: 64px;
}
.f25{
    font-size: 25px;
}
.f22{
    font-size: 22px;
}
.f20{
    font-size: 20px;
}
.container{
    max-width: 1735px;
  }
  section{
    padding: 50px 0px;
  }
  a.order-now {
    padding: 10px 34px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}
a.live-chat {
    padding: 10px 34px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}