html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header a.nav-link {
  display: flex;
  align-items: center;
  gap: 1px;
  border: 2px solid var(--green);
  margin: 10px;
  border-radius: 30px;
  height: 40px;
  font-weight: 600;
  width: 145px;
}

header a.nav-link img {
  background: var(--orange);
}

header a.nav-link div {
  background: var(--orange);
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 20px 0px 0px 20px;
  position: relative; 
  left: -8px;
}

header a.nav-link p {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 15px;
}
header a#basic-nav-dropdown div img {
  position: absolute;

  /* padding: 10px;
  left: 15px;
  position: absolute; */
}
.dropdown-toggle::after {

  margin-left: 4.255em;
}

header a#basic-nav-dropdown span {
  /* display: block; */
  /* padding-left: 118px; */
  position: absolute;
  left: 45px;
}
.home .home-right {
  /* width: 900px;
  height: auto; */
  position: relative;
  /* right: 108px; */

}
.home-button{
  padding-top: 3rem;
}
section.home ul {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 14px;
  padding-top: 20px;

}

section.home ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.form {
  background: url("../public/images/formBg.webp")center/cover no-repeat;
}

section.form h2 {
  font-size: 75px;
  font-weight: 700;
  color: var(--white);

}

.form_box {
  width: 100%;
  background: var(--white);
  padding: 30px 10px;
  border-radius: 10px;
}

.form_box:hover {
  background: var(--orange);
  color: var(--white);
}

.form_box label {
  display: block;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 1px;
  padding-left: 12px;
}

.form_box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: var(--green);
  color: var(--white);
}
.form_box input::placeholder{
  color: var(--white);
}

.form_box:hover input {
  background: var(--white);
  color: black;
}

.form_box:hover input[type="text"]::placeholder,.form_box:hover input[type="email"]::placeholder  {
  color: black;
}


.form_box div p {
  font-size: 40px;
  color: var(--white);
}

.form_box div span {
  font-size: 46px;
  color: var(--white);
  font-weight: 700;
}

.form_box select {
  width: 100%;
  height: 50px;
  padding: 12px;
  background: var(--green);
  border-radius: 10px;
  border: none;
  color: var(--white);
}

.form a.submit {
  width: 100%;
  background: var(--orange);
  color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  gap: 5px;
  align-items: center;
  height: 60px;
}

.student-assignment .left-content {
  padding-left: 40px;
}

.student-assignment .left-content ul {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;

}

.student-assignment .left-content ul li {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  align-items: center;

}

.student-assignment .left-content ul li span {
  font-size: 18px;
}

.student-assignment .left-content ul li svg {
  color: var(--orange);
}

.service-assignment {
  background: url("../public/images/ServiceAssignmentBg.webp")center/cover no-repeat;
  color: var(--white);
}

section.service-assignment ul li {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
  align-items: self-start;

}

section.service-assignment ul li p {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

section.service-assignment ul li span {
  font-size: 18px;
}

section.service-assignment ul li img {
  background: var(--orange);
  padding: 9px;
  clip-path: circle();
  width: 60px;
  height: auto;
}

.tab_box {
  padding: 30px 20px 0px 20px;
  border: 2px solid green;
  border-radius: 20px;
}

.tab_box p {
  font-size: 18px;
}

.tab_box img {
  width: 100%;
  height: auto;
}

.assignment-writing .nav-item {
  margin-bottom: 50px;
}

.assignment-writing .nav-link {
  font-size: 40px;
  font-weight: 700;
  padding: 30px;
  border-radius: 70px;
  color: black;
  width: 710px;
  border: 3px solid var(--orange);
}

.assignment-writing .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--white);
  background-color: var(--green);
  border: none;
}

.feature {
  background: url("../public/images/FeatureBg.webp")center/cover no-repeat;
}

.feature-box span {
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}

.feature-box p {
  font-size: 50px;
}

.feature-box {
  line-height: normal;
  background: white;
  /* clip-path: circle(); */
  border-radius: 50%;
  border: 4px solid var(--orange);
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-box span p {
  font-size: 30px;
  text-decoration: line-through;
}

section.key-point p {
  font-size: 90px;
  color: var(--orange);
}

section.key-point .list1 li {
  display: flex;
  gap: 10px;
  align-items: self-start;
}

section.key-point .list1 li svg {
  font-size: 26px;
  color: var(--orange);
}

section.key-point .list1 li span,
section.key-point .list2 li {
  font-size: 22px;
  padding-bottom: 20px;
}

section.key-point .list2 {
  list-style: circle;
}

.cta {
  background:
    linear-gradient(to right, var(--orange) 25%, transparent 25%),
    /* Color overlay */
    url("../public/images/CtaBg.webp") center / 75% no-repeat;
  /* Background image */
  background-position: right;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.cta .content {
  color: var(--white);
  padding: 30px 10px 0px;
}

.cta .content span {
  font-size: 75px;
  line-height: normal;
  padding-bottom: 20px;
  display: block;
  font-weight: 700;
}

.cta .content p {
  font-size: 20px;
}

.cta a.email {
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
}

.cta a.live-chat {
  background: #FFCE1F;
  display: flex;
  gap: 10px;
  padding-left: 0px;
  font-size: 40px;
  height: 70px;
  border-radius: 10px;
  align-items: center;
}

.cta a.live-chat img {
  position: relative;
  left: -20px;
}

.cta a.whatsapp {
  background: #42C452;
  display: flex;
  gap: 1px;
  padding-left: 0px;
  font-size: 40px;
  height: 70px;
  align-items: center;
  border-radius: 10px;
  width: 340px;
}

.cta a.whatsapp img {
  position: relative;
  left: -20px;
}

section.assistance ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  padding-bottom: 40px;
}

section.assistance ul li ul {
  list-style-type: disc;
  /* Use this for the nested ul */
  padding-left: 30px;
}

section.assistance ul li svg {
  color: var(--orange);
  font-weight: lighter;
}

section.assistance ul li ul li {
  display: list-item;
  /* Ensure list-style applies to nested li */
  font-size: 20px;
  padding-bottom: 5px;
}

section.assistance ul li ul li::marker {
  color: black;
  /* Customize marker color if needed */
  font-size: 26px;
  /* Optional: control marker size */
}

.list1 p {
  background: var(--green);
  padding: 15px 30px;
  font-size: 22px;
  color: var(--white);
  border-radius: 50px;
}

.home-review {
  background: url("../public/images/HomeReviewBg.webp")center/cover no-repeat;
}

.home-review .left-content div {
  background: white;
  width: 500px;
  height: 150px;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 20px;
  font-weight: 700;
}

.home_box {
  background: var(--white);
  padding: 30px;
  border: 4px solid var(--orange);
  border-radius: 30px;
  height: 650px;
}

.home_box span {
  font-size: 32px;
  display: block;
  font-weight: 700;
  padding-top: 20px;

}

.home_box div {
  border-bottom: 2px solid green;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.home_box .name {
  font-size: 60px;
}

.home_box {
  background:
    white,
    /* First layer: white color */
    url("/images/scretchBg.webp") center / cover no-repeat;
  /* Second layer: image */
}

.choose-us {
  background: url("../public/images/chooseUsBg.webp")center/cover no-repeat;
}

.choose-us input[type="search"] {
  padding: 10px 20px;
  height: 101px;
  font-size: 20px;
  width: 550px;
}

.choose-us .searching {
  padding: 10px 20px;
  font-size: 20px;
  height: 100px;
  background: var(--orange);
  color: var(--white);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.choose-us .left-content {
  background: var(--white);
  padding: 20px;
  width: 430px;
}

.choose-us .left-content p {
  font-size: 50px;
  font-weight: 700;
}

.choose-us .left-content ul li {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.choose-us .left-content ul li span:nth-child(1) {
  font-size: 30px;
}

.choose-us .left-content ul li span:nth-child(2) {
  font-size: 24px;
}

.testimonial .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--green);
  color: var(--white);
}

.testimonial .nav-link span {
  font-size: 40px;
  font-weight: 500;
}

.testimonial .nav-link p {
  font-size: 24px;
  margin-bottom: 0px;
}

.testimonial .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: var(--orange);
}

.testimonial  .tab-pane div:nth-child(1) {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 25px 0px;
}

p.guaranted {
  font-size: 30px;
  font-weight: 700;
}

.tab-pane div:nth-child(1) ul li span {
  font-size: 24px;
  font-weight: 600;
}

.tab-pane div:nth-child(1) ul li p {
  font-size: 48px;
  font-weight: bolder;
}

.tab-pane div:nth-child(1) ul li {
  color: var(--orange);

}

section.expert .content {
  background: url("../public/images/expertImg.webp")center/cover no-repeat;
  color: var(--white);
  padding: 70px 40px;
}

section.expert .content span {
  font-size: 50px;
  line-height: 60px;
  display: block;
  margin-bottom: 20px;
}

section.expert .content p {
  font-size: 24px;
}

section.faq h3 {
  font-size: 120px;
  color: var(--orange);
  font-weight: 600;
  border-right: 5px solid;
  padding-right: 20px;
}

.faq_box span {
  font-size: 22px;
  display: block;
  font-weight: 700;
  padding-bottom: 10px;
}

.faq_box p {
  font-size: 18px;
}

.faq_box {
  border: 4px solid var(--green);
  padding: 20px;
  position: relative;
  border-radius: 10px;
  width: 510px;
  margin-bottom: 50px;

}

.faq_box .no {
  font-size: 36px;
  position: absolute;
  right: 7px;
  bottom: 0px;

}

/* .faq_box .no::before {
  content: '';
  border: 106px solid #00cad4;
  position: absolute;
  top: -38px;
  -webkit-clip-path: circle();
  clip-path: circle();
  right: -27px;
  z-index: -1;


  border-radius: 77px 0px 0px 0px;
} */
.faq .swiper-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}
.process .swiper{
  overflow: visible;
}
.process .swiper .swiper-wrapper{
  /* display: grid;
  grid-template-columns: auto auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
section.process img {
  position: absolute;
  left: -40px;
}



section.process .heading {
  font-size: 75px;
  background: var(--orange);
  color: var(--white);
  padding: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 30px;
}

.process-items  {
  background: var(--boxitemGradient);
  padding: 1rem;
  border-radius: 80px;
  /* margin:250px 0px 0px 120px; */
  width: 520px;
  display: flex;
  position: relative;
  left: -200px;

}
.process-items , .process-items2 {
  background: rgb(237,235,235);
background: linear-gradient(0deg, rgb(214, 210, 210) 32%, rgb(230, 227, 227) 37%);
  position: relative; 
  z-index: -4;
}
.process-items2{
  background: linear-gradient(0deg, rgb(214, 210, 210) 32%, rgb(230, 227, 227) 37%);
  padding: 1rem;
  border-radius: 80px;
  position: relative;
  width: 520px;
  display: flex;
  position: relative;
  right: -200px;

}

.content1 {
  background: var(--white);
  border-radius: 80px;
  padding: 15px 35px;
}

.process-items .content1 span,.process-items2 .content1 span  {
  font-size: 28px;
  font-weight: 700;
}

.process-items .content1,.process-items2 .content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  /* z-index: 1; */

}

.process-items .content1 p,.process-items2 .content1 p {
  font-size: 14px;
}

.process-items .circle {
  padding: 55px 55px;
  background: var(--boxitemSkyblueGradient);
  border-radius: 50%;
}
.process-items2 .circle{
  padding: 55px 55px;
  background: var(--boxitemSkyblueGradient);
  border-radius: 50%;
}

.process-items .circle::before {
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border: 20px solid #00c6ff;
  border-radius: 50%;
  background: transparent;
  top: -34px;
  right: -34px;
  z-index: -1;
}
.process-items2 .circle::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border: 20px solid #00c6ff;
  border-radius: 50%;
  background: transparent;
  top: -34px;
  left: -34px;
  z-index: -1;
}
.process-items .circle::after{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border: 20px solid #d0d0d0;
  border-radius: 50%;
  background: transparent;
  top: -23px;
  right: -34px;
  z-index: -2;
}
.process-items2 .circle::after {
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border: 20px solid #d0d0d0;
  border-radius: 50%;
  background: transparent;
  top: -23px;
  left: -34px;
  z-index: -2;
}

.process-items .circles svg {
  position: absolute;
  z-index: -3;
  right: -150px;
  height: 300px;
  top: -47px;
}.process-items2 .circles svg{
  position: absolute;
  z-index: -3;
  left: -150px;
  height: 300px;
  top: -47px;
}


footer{
  background: url("../public/images/FooterBg.webp")center/cover no-repeat;
  color: var(--white);
  padding: 40px 0px;
}
footer span {
  font-size: 40px;
  font-weight: 500;
}

footer ul li a {
  font-size: 20px;
  color: var(--white);
  border-right: 2px solid white;
  padding-right: 20px;
  display: flex
  
  ;

      align-items: center;
      gap: 10px;
}
footer ul li a:last-child{
  border-right: none;
}

footer ul li {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
footer ul li a span {
  font-size: 20px;
}
footer ul li a p{
  font-size: 24px;
}
/* header a.nav-link p{
  background: var(--orange);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: rgb(0,103,148);
background: linear-gradient(280deg, rgba(0,103,148,1) 0%, rgba(51,201,242,1) 35%);
  border-radius: 20px 0px 0px 20px;
  position: relative;
  left: -8px;
  margin: 0px;
} */
section.process img {
  color: transparent;
  position: relative;
  /* left: -165px; */
  /* width: 600px; */
  height: auto;
}
.review_box{
  background: url("../public/images/reviewBg.webp")center/cover no-repeat;
border: 5px solid var(--orange);
padding: 20px;
margin-bottom: 40px;
}

.review_box div span {
  font-size: 26px;
  font-weight: 600;
}
.review_box .title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 10px 0px 5px;
}
.review_box p{
  font-size: 14px;
}
.price-plan  .nav-link{
  font-size: 30px;
  color: black;
  text-align: center;
  width: 350px;
  padding: 8px 4px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
  font-weight: 600;
}
.price-plan .nav.nav-pills {
  border: 6px solid var(--orange);
  align-items: center;
  padding: 40px 0px 20px;
  border-radius: 30px;
}
.price-plan .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--white);
  background-color: var(--green);
}
.tab-content .tab-pane .price_box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;

}

.price-plan .tab-content .tab-pane .price_box div {
    background: var(--green);
    color: var(--white);
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 260px;
    height: 85px;
    justify-content: center;
    border-bottom: 6px solid var(--orange);
    border-radius: 50px;
}

.price-plan .tab-content .tab-pane div span {
    font-size: 30px;
}

.price-plan .tab-content .tab-pane div p {
    font-size: 30px;
    margin-bottom: 0px;
    color: #9FD50B;
    font-weight: 600;
}
section.price-plan h2 {
  font-size: 75px;
  font-weight: 600;
}

section.price-plan h2 span {
  color: #9FD50B;
}
.order_now{
  background: url("../public/images/orderNowBg.webp")center/cover no-repeat;
}

.order_now form div select , .order_now form input , .order_now textarea {
  width: 100%;
  padding: 18px;
}
.order_now textarea{
  height: 200px;
}

.order_now form label {
  width: 16%;
  color: var(--white);
}

.order_now form div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.order_now .form2 label {
 width: 100%;
}
.order_now .files {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  
}

.order_now input[type="checkbox"] {
  width: 5% !important;
  padding-top: 10px;
}
.order_now a.submit-btn {
  font-size: 24px;
  color: var(--white);
  background: var(--orange);
  padding: 10px;
  display: flex;
border-radius: 10px;
  justify-content: center;
  font-weight: 600;
  width: 300px;
}
section.order_now h3 {
  font-size: 75px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 30px;
}
.form2 input[type="file"] {
  padding: 2px 0px 25px 0px;
}
.summary {
  display: flex;
  gap: 100px;
}

.summary span {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.summary p {
  font-size: 26px;
}
p.Total {
  background: var(--orange);
  font-size: 48px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  color: var(--white);
  align-items: center;
}
section.no-found h1 {
  font-size: 140px;
  margin-bottom: 0px;
}
.NavSec.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 999;
}
header.NavSec {
  position: relative;
  z-index: 99999;
  left: 0px;
  right: 0px;
}
.fixedbtnwhatsapp {
  position: fixed;
  bottom: 1em;
  left: 2rem;
  z-index: 9999;
}